<div ng-app="webApp">
    <div ng-view></div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">

    var baseURL = 'http://localhost:41522/api/'
    angular
        .module('webApp', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/department/index.html',
                        controller: 'IndexController'
                    })
                .when('/create',
                    {
                        templateUrl: 'pages/department/create.html',
                        controller: 'CreateController'
                    })
                .when('/details/:departmentId',
                    {
                        templateUrl: 'pages/department/details.html',
                        controller: 'DetailsController'
                    })

                .when('/edit/:departmentId',
                    {
                        templateUrl: 'pages/department/edit.html',
                        controller: 'EditDeleteController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        })


        .controller('IndexController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
            $scope.departments = [];
            $http.get(baseURL + 'Department/')
                .then(function (res) {
                    $scope.departments = res.data;
                });
        }])


        .controller('CreateController', ['$scope', '$http', '$location', '$filter', function ($scope, $http, $location, $filter) {
            $scope.create =
            {
                title: ''
            };

            $scope.Save = function () {

                $http.post(baseURL + 'Department/', $scope.create)
                    .then(function (res) {
                        $location.path('/');
                    });
            }
        }])


        .controller('DetailsController', ['$scope', '$http', '$routeParams', '$filter', function ($scope, $http, $routeParams, $filter) {
            $scope.details = [];

            $http.get(baseURL + 'Department/' + $routeParams.departmentId)
                .then(function (res) {
                    $scope.details = res.data;
                });
        }])


        .controller('EditDeleteController', ['$scope', '$http', '$location', '$routeParams', '$filter', function ($scope, $http, $location, $routeParams) {
            $scope.edit = [];

            $http.get(baseURL + 'Department/' + $routeParams.departmentId)
                .then(function (res) {
                    $scope.edit = res.data;
                });

            $scope.Edit = function () {
                $scope.edit.frequency = parseInt($scope.edit.frequency);
                $http.put(baseURL + 'Department/' + $routeParams.departmentId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
            $scope.Delete = function () {
                $http.delete(baseURL + 'Department/' + $routeParams.departmentId, null)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
        }])
</script>
